* {
  --color-primary: #404040;
  --color-secondary: #878787;
  --color-light: #f4f4f4;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-content: center;
  padding-left: 70px;
  margin: 0;
}

.cvBody {
  padding: 0;
  width: 1200px;
  height: auto;
  display: flex;
  align-content: center;
  background-color: white;
}

.leftContainer {
  padding: 0;
  width: 30%;
  background: linear-gradient(to right, #303030, #505050);
  color: var(--color-light);
}

.leftContainer .picture img {
  width: 180px;
  border-radius: 50%;
  transition: all 0.5s ease, border-radius 0s;
  margin-bottom: 0;
}
.leftContainer .picture img:hover {
  width: 220px;
  margin-bottom: -40px;
  transition: all 0.3s ease;
}

.leftContainer .picture {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.leftContainer .aboutMe {
  padding: 1rem 2rem;
  width: 82%;
  margin-right: 0;
  transition: all 0.5s ease;
}

.leftContainer .aboutMe:hover {
  background-color: #303030;
  transition: all 0.5s ease;
}

.leftContainer h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.leftContainer p {
  text-align: left;
  letter-spacing: 0.8px;
  border-bottom: 1px solid var(--color-light);
  padding-bottom: 30px;
  margin-bottom: 0;
}

.leftContainer .websiteLinks {
  padding: 1rem 2rem;
  transition: all 0.5s ease;
}

.leftContainer .websiteLinks:hover {
  background-color: #303030;
  transition: all 0.5s ease;
}

.leftContainer .websiteLinks li {
  padding: 0.5rem;
  list-style-type: none;
}

.leftContainer .websiteLinks h3 {
  margin-bottom: 10px;
}

.leftContainer .websiteLinks h2 {
  margin-bottom: -20px;
}

.leftContainer .websiteLinks a {
  text-decoration: none;
  color: gray;
  transition: all 0.5s ease;
}

.leftContainer .websiteLinks a:hover {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.rightContainer {
  width: 70%;
  padding: 10px;
  color: var(--color-secondary);
  margin-left: 0;
}

.rightContainer h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.rightContainer .topSection {
  padding: 0;
  margin: 20px;
  display: flex;

  border-bottom: 1px solid #303030;
}

.rightContainer .topSection .nameSection {
  width: 50%;
  text-align: center;
}

.rightContainer .midSection {
  padding: 0;
  margin: 20px;

  border-bottom: 1px solid #303030;
  transition: all 0.5s ease;
}

.rightContainer .midSection:hover {
  color: black;
  transition: all 0.5s ease;
}

.rightContainer .midSection table {
  text-align: left;
  margin-bottom: 40px;
}

.rightContainer .midSection .clomun1 {
  width: 30%;
}

.rightContainer .nameSection h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.rightContainer .nameSection p {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top: 0;
}

.rightContainer .informationSection li {
  list-style-type: none;
  margin-bottom: 10px;
}

.rightContainer .informationSection ul {
  margin-bottom: 30px;
}
